/* Typography */

@font-face {
  font-family: "Lexend";
  src: url("public/fonts/Lexend/Lexend-VariableFont_wght.ttf")
    format("truetype");
}

html {
  font-family: "Lexend", sans-serif;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 1.5rem;
}

select,
input {
  font-size: 1rem;
  font-family: "Lexend", sans-serif;
}

/* Colors */

body,
select,
input {
  color: #014135;
  background-color: #f3f4f7;
}

.calculator-wrapper {
  background-color: #014135;
}

i {
  color: #888888;
}

a,
.calculator-icon svg,
.on-switch-wrapper svg {
  color: #f0af2d;
}

li::marker {
  color: #f0af2d;
}

.slider {
  background-color: #ccc;
}

input:checked + .slider {
  background-color: #014135;
}

/* Layout */

.hidden {
  height: 0 !important;
}

html {
  width: 100%;
  height: 100%;
}

body {
  width: 100%;
  height: 100%;
  margin: 0;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.background-body {
  background-image: url("public/img/utensils.svg");
}

/* Header */

header {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 90%;
  max-width: 600px;
  margin: 10px;
  min-height: 35px;
}

header.left-align {
  justify-content: space-between;
  max-width: 1000px;
}

header.left-align > * {
  text-align: left;
}

header > * {
  cursor: pointer;
  height: 25px;
  width: 33%;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.on-switch-wrapper {
  display: flex;
  align-items: center;
  margin-left: 30px;
}

.back-button a,
.sun,
.calculator-icon svg {
  height: 25px;
  width: 25px;
  opacity: 85%;
}

header svg {
  height: 25px;
  width: 25px;
}

/* Recipe Layout */

main {
  width: 90%;
  margin: 0 5%;
  max-width: 1000px;
}

li {
  padding: 0.1rem 0;
}

.link-list {
  display: flex;
  flex-direction: column;
}

h1 {
  width: 100%;
  margin-top: 0;
}

.link-list > a {
  text-align: center;
  font-size: 2.5rem;
  margin-bottom: 0.5rem;
}

ul {
  padding: 0 0.5rem 0 2.5rem;
  text-align: justify;
}

ul li {
  text-indent: -1rem; /* Negative indent to pull the first line left */
  padding-left: 1rem; /* Padding to create space for the pseudo-element */
}

ul li::before {
  display: inline-block; /* Allows width to be set */
  width: 1rem; /* Width of the pseudo-element */
  margin-left: -1rem; /* Pulls the pseudo-element back to the left edge */
}

ol {
  box-sizing: border-box;
  padding: 0.5rem 0.5rem 0.5rem 2.8rem;
  text-align: justify;
}

ul > li {
  list-style: none;
}

ul > li::before {
  content: "";
  display: inline-block;
  height: 15px;
  width: 15px;
  padding-right: 5px;
  background-image: url("public/img/sparkle.svg");
  background-repeat: no-repeat;
}

li::marker {
  font-size: 1.2rem;
}

.recipe-info {
  display: flex;
  flex-direction: row;
}

.info-box {
  padding: 0 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-right: 1px solid #014135;
}

.info-box:last-child {
  border-right: 0;
}

.info-box > span:first-of-type {
  font-weight: 700;
}

/* Toggle switches */

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  margin-left: 10px;
}

.switch input {
  opacity: 0; /* Hide default HTML checkbox */
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

/* Calculator */

.calculator-wrapper {
  height: 10vh;
  width: 100vw;
  position: fixed;
  left: 0;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease-out;
  overflow: hidden;
}

.calculator-group {
  width: 80%;
  max-width: 400px;
  padding: 0.5rem 0;
  display: flex;
  justify-content: space-around;
}

.calculator-group select {
  width: 60%;
  box-sizing: border-box;
}

.calculator-group input {
  width: 35%;
  box-sizing: border-box;
}

.calculator-close {
  width: 25px;
  height: 25px;
  color: #f0af2d;
  position: absolute;
  top: 10px;
  right: 10px;
  background-image: url("public/img/close.svg");
}

input,
select {
  border-radius: 5px;
  border: none;
  padding-left: 10px;
}

input.no-arrows::-webkit-outer-spin-button,
input.no-arrows::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input.no-arrows[type="number"] {
  -moz-appearance: textfield;
}

/* Responsive Design */
@media (max-width: 1024px) {
  h1 {
    font-size: 2.5rem;
    text-align: center;
  }

  h2 {
    font-size: 1.3rem;
  }

  header {
    max-width: 600px;
  }

  .on-switch-wrapper {
    margin-left: 15px;
  }

  .recipe-info {
    justify-content: center;
  }

  .info-box:first-child {
    padding-left: 0;
  }

  .calculator-wrapper {
    height: 20vh;
    justify-content: end;
  }

  .calculator-group:last-child {
    margin-bottom: 30px;
  }

  select,
  input {
    height: 25px;
  }
}
